<section class="acc-shared-section">
  <form class="form" [formGroup]="form" (ngSubmit)="onSubmit($event)">
      <div class="input-box">
          <p class="input-title">Username:</p>
          <input type="text" class="input" [class.error]="form.controls['username'].invalid && form.controls['username'].touched" placeholder="username" formControlName="username">
        </div>
        <div class="input-box">
          <p class="input-title">Password:</p>
          <input type="password" class="input" placeholder="password" formControlName="password" [class.error]="form.controls['username'].invalid && form.controls['username'].touched">
        </div>
        <button type="submit" [disabled]="form.invalid" class="btn">{{actionName}}</button>
  </form>
</section>