body {
    font-family: Arial, Helvetica, sans-serif;
}

.btn {
    min-width: 200px;
    background: white;
    padding: 10px 0;
    margin: 10px 0;
    font-size: 16px;
    border: 1px solid rgb(139, 139, 139);
    border-radius: 4px;
}

.btn-small {
    min-width: 40px;
}

.btn:not(:disabled):hover {
    background: rgb(194, 194, 194);
    cursor: pointer;
}

.btn:disabled {
    background: rgba(214, 214, 214, 0.931);
}

.routing-example-title {
    font-size: 32px;
}

.example-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background: rgb(177, 177, 207);
}